#C {
  display: flex;
  flex-direction: row; 
  width: 100%;
}

#BodyC {
  display: flex;
  flex-direction: column; 
  width: 100%; 
  box-sizing: border-box; 
}
#Conteudo {
  padding-left: 200px;
}
#Tcerimonialista {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  box-sizing: border-box;
  overflow-wrap: break-word; 
  text-align: center; 
  padding: 10px;
}

#listau {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  width: 100%; 
  box-sizing: border-box; 
}

@media only screen and (max-width: 768px) {
  #C {
    flex-direction: column; /* Muda a direção para coluna em tablets */
  }
  #BodyC {
    font-size: 18px;
    padding: 5px; 
  }
  #Tcerimonialista {
    height: auto; /* Permite que a altura se ajuste ao conteúdo */
    overflow: hidden; /* Garante que o conteúdo não transborde */
  }
}

@media only screen and (max-width: 480px) {
  #C {
    flex-direction: column; /* Muda a direção para coluna em smartphones */
  }
  #BodyC {
    font-size: 13px;
    padding: 5px; /* Reduz o padding em smartphones */
  }
  #Tcerimonialista {
    height: auto; /* Permite que a altura se ajuste ao conteúdo */
    overflow: hidden; /* Garante que o conteúdo não transborde */
  }
}

@media only screen and (max-width: 320px) {
  #BodyC {
    font-size: 13px; /* Ajusta o tamanho da fonte para telas muito pequenas */
    padding: 5px; /* Mantém um pequeno padding */
  }
  #Tcerimonialista {
    height: auto; /* Permite que a altura se ajuste ao conteúdo */
    padding: 5px; /* Adiciona padding para evitar que o texto fique colado nas bordas */
    overflow: hidden; /* Garante que o conteúdo não transborde */
    padding-left: 5rem;
  }
  #listau {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
  }
}
