@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Playwrite+CU:wght@100..400&display=swap');
:root{
    --Primaria: #F2EEEB;
    --Secundaria: #262626;
    --Texto: #F2DCD8;
    font-family: "Inknut Antiqua", serif;
    font-weight: 700;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }