* {
  margin: 0px;
}

body {
  background-color: #f2eeeb;
}

.button {
  background-color: #fff;
  border: 2px solid #403c3d;
  border-radius: 65px;
  box-shadow: 8px 8px 6px #262626;
  color: #403c3d;
  cursor: pointer;
  display: inline-block;
  font-family: "Inknut Antiqua", serif;
  font-size: 18px;
  font-weight: 600;
  height: 67px;
  line-height: 23px;
  margin: 1rem;
  min-height: 67px;
  padding: 0 18px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 175px;
}

.button:hover {
  background-color: #262626;
  box-shadow: 10px 10px 8px #444;
  color: #f2dcd8;
}

.displayButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formsCerimonialista {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.formsCerimonialista input {
  background-color: #f1dcd7;
  border: solid 1px black;
  border-radius: 15px;
  font-size: 18px;
  height: 67px;
  margin: 1rem;
  padding: 1rem;
  width: 760px;
}

.formsCerimonialista textarea {
  background-color: #f1dcd7;
  border: solid 1px black;
  border-radius: 15px;
  font-size: 18px;
  height: 149px;
  margin: 1rem;
  max-height: 29rem;
  min-height: 67px;
  padding: 1rem;
  resize: vertical;
  width: 760px;
}

.flexDisplayConteiner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.Title {
  color: #262626;
  font-size: 35px;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .button {
    min-width: 120px;
    padding: 0 25px;
  }
}

@media (min-width: 768px) {
  .button {
    min-width: 120px;
    padding: 0 25px;
  }
}

@media (max-width: 768px) {
  .Title {
    font-size: 25px; /* Reduz o tamanho da fonte do título em telas pequenas */
  }

  .formsCerimonialista input,
  .formsCerimonialista textarea {
    width: 100%; /* Usa toda a largura da tela em dispositivos menores */
  }

  .button {
    font-size: 16px; /* Reduz o tamanho da fonte do botão em telas pequenas */
  }
}
