#home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f2eeeb;
  color: #262626;
}
#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  margin-bottom: 30px;
}

#logo img {
 /* image 5 */

 position: absolute;
 width: 40vh;
 height: 45vh;
 background: url(image.png);
 border-radius: 22px;

}

#texto {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

#texto span {
  width: 60%;
  font-size: 18px;
  line-height: 1.6;
}

#botao {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#botao button {
  background-color: #262626;
  color: #e3b8b3;
  border-radius: 65px;
  width: 337px;
  height: 79px;
  font-size: 24px;
  font-family: "Inknut Antiqua", serif;
  font-weight: 700;
  font-style: normal;
  border: 1px solid #262626;
  box-shadow: 8px 8px 6px #262626;
  cursor: pointer;
  transition: all 0.3s ease;
}

#botao button:hover {
  background-color: #f2dcd8;
  color: #262626;
  box-shadow: 10px 10px 8px #444;
  transform: scale(1.05);
}


.Titulo {
  display: flex;
  justify-content: center;
}

#header {
  height: 91px;
}