#U {
  display: flex;
  flex-direction: row;
}

#BodyU {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  font-size: 20px;
}

#CabecalhoU {
  display: flex;
  justify-content: center;
  width: 100%;
}

#ListaU {
  display: flex;
  justify-content: center;
  padding-left: 70px;
  width: 90%;
  height: 90vh;
}

#Conteudo {
  display: grid;
  gap: 100px;
  grid-template-columns: 1fr 1fr 1fr;
}

#list {
  text-align: center;
  border: 1px solid black;
  border-radius: 16px;
  gap: 5px;
  padding: 20px;
  background-color: #262626;
  color: #f2dcd8;
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
}

#list h1 {
  text-align: center;
  font-size: 10px;
}

#EditUsuario {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btnU {
  width: 100px;
  height: 30px;
  background-color: #403c3d;
  border: none;
  cursor: pointer;
  color: #f2dcd8;
  transition: all 0.3s ease;
}

#ButtonsU button:hover {
  background-color: #f2dcd8;
  color: #262626;
  transform: scale(1.05);
}

#Forms {
  width: 40%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

#Forms input {
  border-radius: 15px;
  height: 67px;
  width: 760px;
  padding: 1rem;
  background-color: #f1dcd7;
  font-size: 18px;
  border: solid 1px black;
}

#Forms button {
  background-color: #fff;
  border: 2px solid #403c3d;
  box-shadow: 8px 8px 6px #262626;
  color: #403c3d;
  font-family: "Inknut Antiqua", serif;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 0 18px;
  line-height: 23px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 175px;
  height: 67px;
  font-size: 18px;
  min-height: 67px;
}

#Forms button:hover {
  background-color: #262626;
  box-shadow: 10px 10px 8px #444;
  color: #f2dcd8;
}

#DivForms {
  display: flex;
  justify-content: center;
  width: 100%;
}

#ButtonsU {
  gap: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media Queries para Responsividade */
@media only screen and (max-width: 768px) {
  #Conteudo {
    grid-template-columns: 1fr; /* Coloca todos os itens em uma coluna */
    gap: 20px; /* Reduz o espaço entre os itens */
  }

  #Forms {
    width: 80%; /* Aumenta a largura dos formulários em telas menores */
  }

  #Forms input {
    width: 100%; /* Faz os inputs ocuparem 100% da largura disponível */
  }

  #list h1 {
    font-size: 14px; /* Aumenta o tamanho da fonte para cabeçalhos em telas menores */
  }

  .btnU {
    width: 80%; /* Botões ocupam mais espaço em telas menores */
  }

  #CabecalhoU {
    font-size: 13px;
    padding-left: 67px;
  }
}

@media only screen and (max-width: 480px) {
  #Forms {
    width: 90%; /* Aumenta a largura dos formulários em smartphones */
  }

  #list {
    margin-left: 15px; /* Aumenta a margem à esquerda do card em smartphones */
  }
}
