#U {
    display: flex;
    flex-direction: row;
}

#BodyU {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    font-size: 20px;
}

#CabecalhoU {
    display: flex;
    justify-content: center;
    width: 100%;
}

#ListaU {
    display: flex;
    justify-content: center;
    padding: 50px;
    width: 100%;
    height: 90vh;
}



#Conteudo {
    display: grid;
    gap: 100px;
    grid-template-columns: 1fr 1fr 1fr;
}

#list {
    text-align: center;
    border: 1px solid black;
    border-radius: 16px;
    gap: 5px;
    padding: 20px;
    background-color: #262626;
    color: #F2DCD8;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

#list h1 {
    text-align: center;
    font-size: 10px;
}

#EditUsuario {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    
    flex-direction: column;
}

.btnU {
    width: 100px;
    height: 30px;
    background-color: #403C3D;
    border: none;
    cursor: pointer;
    color: #F2DCD8;
    transition: all 0.3s ease;


}

#ButtonsU button:hover {
    background-color: #f2dcd8;
    color: #262626;
    transform: scale(1.05);
}

#Forms {
    width: 40%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}
#Forms input{
    border-radius: 15px; 
    height: 67px;
    width: 760px;  
    padding: 1rem;
    background-color: #F1DCD7;
    font-size: 18px;
    border: solid 1px black
}
#Forms button{
    background-color: #fff;
    border: 2px solid #403C3D;
    box-shadow: 8px 8px 6px #262626;
    color: #403C3D;
    font-family: "Inknut Antiqua", serif;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    padding: 0 18px;
    line-height: 23px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 30px;
    border-radius: 65px; 
    height: 67px;
    width: 175px;  
    font-size: 18px;
    min-height: 67px;
}
#Forms button:hover{
    background-color: #262626;
    box-shadow: 10px 10px 8px #444;
    color: #F2DCD8;

}
#DivForms{
    display: flex;
    justify-content: center;
    width: 100%;
}

#ButtonsU {
    gap: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}