#PCadastro{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F2EEEB   ;
}
#CabecalhoCadastro{
    display: flex;
    flex-direction: row;
    height: 30vh;
  
}
#TituloCadastro{
   
    display: flex;
    align-items: center;
    justify-content:right;
  
    width: 56%;
}
#SpanCadastro{
    height: 55px;
    width: 20%;
    border-radius: 10px;
    text-align: center;
    background-color: #262626;

}
#SpanCadastro p{
    font-size: 22px;
    color: #F2DCD8;
    

}


#Logo{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 44%;
    height: 134px;
    padding-right: 40px;
}
#Logo img{
    height: 134px;
}


 /* Cadastro */
#Cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    
 height: 300px;
}
#Cadastro p{
    font-size: 12px;

}
#Icone{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
#InputsCadastro{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
 
    text-align: center;
}
#InputsCadastro input{
    width: 460px;
   cursor: pointer;
    height: 68px;
    border-radius: 28px;
    background-color: #F2DCD8;
    
}

#BtnLogar {
    height: 70px;
    width: 175px;
    border-radius: 30px;
    background-color: #262626;
    color: #F2DCD8;
    font-size: 20px;
    font-family: "Inknut Antiqua", serif;

}