#Side {
  height: 100vh;
  width: 158px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;

  background-color: #262626;
  transition: width 0.3s;
}

#Side.minimized {
  width: 70px;
}

#MetadeIcon {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#MetadeLogout {
  height: 30vh;
  display: flex;
  align-items: end;
  justify-content: center;
}

.DivBox {
  width: 113px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#MetadeIcon img {
  width: 88%;
  height: auto;
}

/* #MetadeIcon:hover {
    background-color: #403C3D;
    transition: 1s;
    border-radius: 16px;
    color: #F2DCD8;
} */

.Box {
  height: 60px;
  width: 60px;
  cursor: pointer;
  color: #f2eeeb;
}

/* Responsividade para dispositivos móveis */
@media only screen and (max-width: 768px) {
  #Side {
    width: 100px;
  }

  .DivBox {
    width: 80px;
    height: 60px;
  }

  .Box {
    height: 50px;
    width: 50px;
  }
}

@media only screen and (max-width: 480px) {
  #Side {
    width: 70px;
  }

  #MetadeIcon {
    height: auto;
  }

  .DivBox {
    width: 60px;
    height: 50px;
  }

  .Box {
    height: 40px;
    width: 40px;
  }
}
