:root {
  --color-dark-gray: #403c3d;
  --color-blackish: #262626;
  --color-light-cream: #f2eeeb;
  --color-soft-pink: #f2dcd8;
  --color-mauve: #a69794;
}

/* Fundo geral para a página */
.sas,
.bb2,
.b1 {
  background-color: var(--color-blackish);
  margin: 0;
  padding: 0;
  min-height: 124vh;
  overflow-x: hidden;
}

.b1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 90px;
  padding-right: 50px;
  padding-left: 50px;
  justify-items: center;
}

/* Estilo dos cards */
.Card img {
  border-radius: 12px;
  display: block;
  width: 450px;
  height: 340px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-light-cream);
}

/* Filtro e efeito hover para as imagens */
.Filtro {
  width: 100%;
  filter: saturate(0%);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.Card img:hover {
  filter: saturate(100%);
  transform: scale(1.05);
}

/* Responsividade para telas entre 600px e 1024px */
@media (min-width: 600px) and (max-width: 1024px) {
  .b1 {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Duas colunas para telas entre 600px e 1024px */
  }

  .Card img {
    width: 100%; 
    height: 80vh;
  }
}

/* Responsividade para celulares menores que 600px */
@media (max-width: 600px) {
  .b1 {
    grid-template-columns: 1fr; 
    padding: 20px;
  }

  .Card img {
    width: 100%; 
    height: auto;
  }
}

/* Responsividade para telas entre 1024px e 1430px */
@media (min-width: 1024px) and (max-width: 1430px) {
  .b1 {
    grid-template-columns: repeat(
      2,
      1fr
    ); /
  }
}
