:root {
    --color-dark-gray: #403c3d; /* RGB: 64, 60, 61 */
    --color-blackish: #262626; /* RGB: 38, 38, 38 */
    --color-light-cream: #f2eeeb; /* RGB: 242, 238, 235 */
    --color-soft-pink: #f2dcd8; /* RGB: 242, 220, 216 */
    --color-mauve: #a69794; /* RGB: 166, 151, 148 */
  }
  
 
  
  .b1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 90px;
    max-height: 900px;
    padding-right: 50px;
    padding-left: 50px;
    justify-items: center;
    background-color: var(--color-blackish);
  }
  
  .Card img {
    border-radius: 12px;
    display: block;
    width: 450px;
    height: 340px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-light-cream);
  }
  
  .Filtro {
    width: 100%;
    filter: saturate(0%);
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .Card img:hover {
    filter: saturate(100%);
    transform: scale(1.05);
  }
  
  .bb2 {
    height: 125vh;
  }
  
  @media (max-width: 600px) {
    .b1,
    .fornecedores-container {
      grid-template-columns: 1fr; /* Garante uma coluna em telas menores */
      padding: 20px;
    }
  
    .Card img {
      width: 100%; /* Ajusta a largura da imagem para caber na tela */
      height: auto; /* Deixa a altura responsiva */
    }
  
    .fornecedor-card {
      padding: 15px;
    }
  
    .fornecedor-imagem {
      height: 150px;
    }
  }