:root {
  --color-dark-gray: #403c3d; /* RGB: 64, 60, 61 */
  --color-blackish: #262626; /* RGB: 38, 38, 38 */
  --color-light-cream: #f2eeeb; /* RGB: 242, 238, 235 */
  --color-soft-pink: #f2dcd8; /* RGB: 242, 220, 216 */
  --color-mauve: #a69794; /* RGB: 166, 151, 148 */
}

.fornecedores-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 90px; /* Ajuste apenas o padding superior */
  max-height: 900px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: var(--color-light-cream);
}

.fornecedor-card {
  background-color: #fff;
  border-radius: 34px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  padding: 20px;
}

.fornecedor-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.fornecedor-imagem {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.fornecedor-descricao {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #666;
}

.fornecedor-card h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

@media (max-width: 600px) {
  .fornecedores-container {
    padding: 40px;
    grid-template-columns: repeat(1, 1fr);
  }

  .fornecedor-card {
    padding: 15px;
  }

  .fornecedor-imagem {
    height: 150px;
  }
}

.bb1 {
  height: 149vh;
  background-color: var(--color-light-cream);
}
